html, body {
    height: 100%;
}

body > div {
    height: calc(100% - 60px);
}

footer {
    height: 60px;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 100%}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}

li:hover {
    background-color: #23527c;
    color: white;
}

.col-sm-9 {
    height: 100%;
}

#conversation {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#conversation form {
    padding: 5px;
}

form input[type=text] {
    width: calc(100% - 185px);
    display: inline;
}

form input[type=submit] {
    width: 180px;
    display: inline;
}

#messages {
    flex: 1;
}